<h1 class="page-title">
	Editing Hrv<br>
	<%= @hrv.date.strftime("%A %d %B, %Y") %>
</h1>

<%= render 'form', hrv: @hrv %>

<div align="center">
	<%= link_to 'Show', @hrv, class: "btn btn-warning btn-sm" %>
	<%= link_to 'Back', hrvs_path, class: "btn btn-warning btn-sm" %>
</div>