<h1 class="page-title">Consumption Summaries</h1>

<%= render partial: "consumptions/summaries/trailing_seven_days_summary" %>

<%= render partial: "consumptions/summaries/this_week_summary" %>

<%= render partial: "consumptions/summaries/last_week_summary" %>