<div class="cont"></div>

<script type="text/javascript">
	// d3.select("body")
	// 	.append("br")
	// 	.append('text').text("hi")
	// 	.append("div").attr("class","spacer").attr("margin-top","88px");


	var svg = d3.select("div.cont")
		.append("svg")
		.attr("width","100vw")
		.attr("height",500)
		.style("background","black").style("margin","auto");
		



		// .data(<%= @data %>)
		// .enter()
		// .append('rect')
		// 	//.attr('x','')
		// 	.attr('width',1)
		// 	//.attr('y','')
		// 	.attr('height', function(d){
		// 		return d[1]
		// 	})
		// .append('text')
		// 	.text(function(d){
		// 		return d;
		// 	})
		// .append("br")




		// .selectAll("text")
</script>