<h1>Dashboards#scratch</h1>
<p>Find me in app/views/dashboards/scratch.html.erb</p>
<h1>D3 TEST</h1>

<div class="chart"></div>

<script type="text/javascript">
	var data = [30, 86, 168, 281, 303, 365];

	d3.select(".chart")
	  .selectAll("div")
	  .data(data)
	    .enter()
	    .append("div")
	    .style("width", function(d) { return d + "px"; })
	    .text(function(d) { return d; });

</script>