<h1 class="page-title">
	Editing Exercise<br>
	<%= @exercise.date %>
</h1>

<%= render 'form', exercise: @exercise %>

<div align="center">
	<%= link_to 'Show', @exercise, class: "btn btn-warning btn-sm short-text-button" %>
	<%= link_to 'Back', exercises_path, class: "btn btn-warning btn-sm short-text-button" %>
</div>