<nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
  <%= link_to "journal", journal_entries_home_path, data: {keybinding: 'j'}, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item">
        <a class="nav-link" href="/consumptions">Bubble Index</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="/journal_entries/home">Entries</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="/dailies">Traditional Index</a>
      </li> -->
      <li class="nav-item">
        <a class="nav-link" href="/prompts/button_index">Prompts</a>
      </li>
    </ul>
    
    <%= render "/layouts/nav_year_stats" %>

    <ul class="nav navbar-nav navbar-right">
      <li>
        <%= link_to "waey", root_path, data: { keybinding: 'w' }, class: "navbar-brand" %>
      </li>
    </ul>
  </div>
</nav>